@import 'tailwindcss';
@theme {
    --font-kanit: Kanit, sans-serif;
}

button {
    @apply cursor-pointer;
}

.center {
    @apply flex items-center justify-center;
}

.col-center {
    @apply flex flex-col items-center justify-center;
}

.nav {
    @apply px-4 py-1 hover:text-neutral-700 hover:border-b-2 hover:border-b-[#3B82F6E6]  text-neutral-900 text-base;
}

.hover {
    transition: all 0.3s ease-in-out 0.1s;
}

.primary-bg {
    @apply bg-blue-50;
}

.secondary-bg {
    @apply bg-[#f4f8ff];
}

.p-text {
    @apply text-[#494949];
}

/* Transitions */
.fade-in {
    opacity: 0;
    transform: translateY(70px);
    transition:
        opacity 0.8s ease-out,
        transform 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Staggered delays */
.fade-in.delay-1 {
    transition-delay: 0.2s;
}
.fade-in.delay-2 {
    transition-delay: 0.4s;
}
.fade-in.delay-3 {
    transition-delay: 0.6s;
}

.hero-text {
    background: linear-gradient(
        310deg,
        rgba(36, 20, 20, 1) 6%,
        rgba(255, 255, 255, 1) 49%,
        rgba(252, 69, 69, 1) 92%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.navs {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.vertical-line {
    border-left: 2px solid #bdd2ff;
    height: 100%;
}

.under {
    text-decoration-color: #8bb0ff;
}

.under:hover {
    text-decoration-color: #7183f8;
}

.btn-1 {
    @apply hover:bg-blue-400/70 text-white  bg-blue-400;
}
.btn-2 {
    @apply bg-[#3B82F6E6] text-white hover:text-[#333] hover:bg-blue-400;
}

.btn-3 {
    @apply px-3 bg-[#8bb0ff] border border-[#7183f8]  hover:bg-[#5d72ff] rounded-3xl;
}

.home-bg {
    background: linear-gradient(to right, #fffaf5, #f0f4ff);
}

.cards {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.admin-nav.router-link-exact-active {
    @apply bg-blue-200 text-blue-500 rounded-lg py-2 px-4;
}

.admin-nav {
    @apply hover:bg-blue-200 hover:text-blue-500 hover:rounded-lg hover:py-2 hover:px-4;
}

.main-nav.router-link-exact-active {
    @apply border-b border-blue-400 text-blue-400;
}

.main-nav {
    @apply hover:border-b hover:border-blue-400 hover:text-blue-400;
}
